<body>


    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="about-grids">
                <div>
                    <div class="about-grd-rgt-grids">
                        <div class="about-grd-rgt-grid">
                            <div class="box maxheight">
                                <br><br>


                                <img src="./assets/pic.jpg" width="200" height="200">
                            </div>
                        </div>



                    </div>
                    <h3>About ADITYA</h3>
                    <div class="line">
                    </div>
                    <!--<p class="aut">Hi.. I'm Aditya </p>-->
                    <br><br>
                    <p>Hi. I am <Strong> Aditya Pratap Singh</Strong></p>
                    <p>I currently work at <strong>Mphasis</strong> as an Associate Software Engineer (SDE-1)</p>
                    <br><br>
                    <p>You can visit my Github to view the projects I have worked on.</p>
                    <p><a href="http://github.com/Aditya-Pratap-Singh">Github</a></p>




                </div>
            </div>
        </div>
    </div>
</body>
< <!-- //about -->
